canvas{
	background-color: #00cba2;
}

html, body{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	height: 50%;
	width: 50%;
}

*{
	margin: 0;
	padding: 0;
}

#canvas{
	display: block;
}